
/*FONT's available 

font-family: 'Lato', sans-serif;
font-family: 'Raleway', sans-serif;

*/


/*Testing*/
* { border: 1px solid red;

	 }

hr {
	width: 950px;

}

/*Body*/
body {
	font-family: 'Lato', sans-serif;
	width: 100%;
	margin: 0 auto;
	height: 100%;
	background: #3ba2e4; /* For browsers that do not support gradients */
    background: -moz-linear-gradient(#3ba2e4, #2378b0); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#3ba2e4, #2378b0); /* Standard syntax */
}

/* Header*/
header {
	/*background-color: #3498db;*/
	width: 100%;
	margin: 0 auto ;
	border-bottom: 2px grey solid;


    /*background: #3ba2e4;  For browsers that do not support gradients */
}

header h1{
	margin:0;
}
.logo {
	z-index: 1;
	font-weight: bold;
	font-size: 3em;
	margin: 10px 10px 10px 50px;
	font-family: 'Raleway', sans-serif;
	float: left;
	letter-spacing: -8px;
	color: #fff;
	transform: rotate(5deg);
}
.logo h2{
	padding: 0;
	margin: -60px 0 0 0;
}
 
.topfav {
	opacity: .4;
	color: #2378b0;
	margin-left: -40px;
}

.name {
	text-align: right;
}

/* container */
.container{
	background-color: #FFFFFF;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	margin: 0 auto;
	white-space: nowrap;
	border-bottom: 2px grey solid;
}
.content{
 	width: 100%;
 	margin: 0 auto;
  	background: #87e0fd;
	background: -moz-radial-gradient(center, ellipse cover, #87e0fd 0%, #53cbf1 40%, #05abe0 100%);
	background: -webkit-radial-gradient(center, ellipse cover, #87e0fd 0%,#53cbf1 40%,#05abe0 100%);
	background: radial-gradient(ellipse at center, #87e0fd 0%,#53cbf1 40%,#05abe0 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87e0fd', endColorstr='#05abe0',GradientType=1 );

 }

.about{
	text-align: center;
	white-space: normal;
	display: inline-block;
	width: 100%;
	order: 1;
}
.about img {
	margin-top: 3em;
	-moz-box-shadow:    3px 3px 5px  #ccc;
    -webkit-box-shadow: 3px 3px 5px #ccc;
    box-shadow:         3px 3px 5px  #ccc;
	border: 1px solid #2980b9;
	width: 20%;
	border-radius: 50%;
}

.tools {
	text-align: center;
	white-space: normal;
	width: 100%;
	order:2;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

#bordersvg{
	margin-bottom: -10px;
}

.row{

	display: inline-block;
	margin: 10px;
}


.devicons{
	color: #2980b9;
	font-size: 96px;
	border-radius: 50%;
}

/*work*/

#featured {
	margin-left: 10px;
	width: 100%;
	order: 3;

}
.work {
	width: 100%;
	order: 4;
	display: flex;
}

.proj {
	width: 33.33%;
	margin: 10px;

}

.proj img{
	width: 100%;
}

/*footer*/

footer {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	margin: 0 auto;
	margin-top: 1em;
}
.icons{
	text-align: center;
	order: 1;
	width: 100%;
}

.icons a {
	color: #2980b9;
	margin: 10px;
}
.copy {
	order: 2;
	width: 100%;
	text-align: center;
}
