
/*FONT's available 

font-family: 'Lato', sans-serif;
font-family: 'Raleway', sans-serif;

*/


/*Testing*/
* { border: 1px solid red;

	 }

hr {
	width: 950px;

}

/*Body*/
body {
	font-family: 'Lato', sans-serif;
	width: 100%;
	margin: 0 auto;
	height: 100%;
	/*background: #3ba2e4;*/ /* For browsers that do not support gradients */
    background: -moz-linear-gradient(#3ba2e4, #2378b0); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#3ba2e4, #2378b0); /* Standard syntax */
}

/* Header*/


header {
	height: 150px;
	width: 100%;
	margin: 0 auto ;
	border-bottom: 1px #fff solid;
	display: flex;
	flex-wrap: wrap;
	margin:0;
	padding: 0;
	justify-content: center;
}
.logo {
	padding-top: 20px;
	text-align: center;
	order: 1;
	width: 50%;
	font-weight: bold;
	font-size: 3em;
	font-family: 'Raleway', sans-serif;
	letter-spacing: -8px;
	color: #fff;
	transform: rotate(5deg);
}
.logo h2 {
	margin: 0;
    text-shadow: 3px 3px 5px  #2A80B9;
	padding: 0;
	
}
header h1 , h3 {
	margin:0;
	padding: 0;
}
 
.topfav {
	display: inline;
	opacity: .8;
	color: #2378b0;
	margin-top:-30px;
}

.name {
	margin: auto;
	font-size: 25px;
	text-shadow: 3px 3px 5px #2A80B9;
	order: 2;
	width: 50%;
	text-align: center;
	letter-spacing: -3px;
	color: #fff;
	font-family: 'Raleway', sans-serif;
}

.name h1 {
    -webkit-text-stroke-width: 4px;
    -webkit-text-stroke-color: #000;
}

/* container */
.container{
	background-color: #FFFFFF;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	margin: 0 auto;
	white-space: nowrap;
	border-bottom: 2px grey solid;
}
.content{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
 	width: 100%;
 	margin: 0 auto;
  	background: #87e0fd;
	background: -moz-radial-gradient(center, ellipse cover, #87e0fd 0%, #53cbf1 40%, #05abe0 100%);
	background: -webkit-radial-gradient(center, ellipse cover, #87e0fd 0%,#53cbf1 40%,#05abe0 100%);
	background: radial-gradient(ellipse at center, #87e0fd 0%,#53cbf1 40%,#05abe0 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87e0fd', endColorstr='#05abe0',GradientType=1 );

 }

.about{
	text-align: center;
	white-space: normal;
	display: inline-block;
	width: 100%;
	order: 1;
}
.about img {
	margin-top: 3em;
	-moz-box-shadow:    3px 3px 5px  #2A80B9;
    -webkit-box-shadow: 3px 3px 5px #2A80B9;
    box-shadow:         3px 3px 5px  #2A80B9;
	border: 1px solid #2980b9;
	width: 20%;
	border-radius: 50%;
}

.tools {
	border-radius: 25px;
	background-color: #fff;
	border: 1px solid #fff;
	text-align: center;
	white-space: normal;
	width: 70%;
	order:2;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.tools h3 {
	margin:3px 0 0 0;
	padding: 0;
}

#bordersvg{
	order:3;
	margin-bottom: -8px;
}

.row{

	display: inline-block;
	margin: 10px;
}


.devicons{
	color: #2A80B9;
	font-size: 96px;
	
}

/*work*/

#featured {
	text-align: center;
	margin-left: 10px;
	width: 100%;
	order: 3;

}
.work {
	width: 100%;
	order: 4;
	display: flex;
}

.proj {
	width: 33.33%;
	margin: 30px;

}

.proj img{
	width: 100%;
}

/*footer*/

footer {
	height: 100px;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	margin: 0 auto;
	margin-top: 1em;
}
.icons{
	text-align: center;
	order: 1;
	width: 100%;
}

.icons a {
	transition: color 0.2s ease;
	color: #000;
	margin: 10px;
}
.icons a:hover {
	color:#fff;
}
.copy {
	order: 2;
	width: 100%;
	text-align: center;
}
